body {
    margin: 0;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ececec;
}

.container {
    width: 380px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input, button, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

li {
    background: #ddd;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.dark {
    background: #222;
    color: white;
}

.dark input, .dark select {
    background: #333;
    color: white;
    border: 1px solid white;
}

.delete-btn {
    background: red;
    padding: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
